---
permalink: about/index.html
---

{% extends "src/base.njk" %}


{% block head %}
  <!--NETLIFY CMS-->
  <title> ¿Qué es Catálogo de Trámites?</title>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Inicio</a>
                    <span></span> ¿Qué es Catálogo de Trámites?
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <section class="row align-items-center mb-50">
                            <div class="col-lg-6">
                                <img src="/assets/imgs/tra3.png" alt="" class="border-radius-15 mb-md-3 mb-lg-0 mb-sm-4" />
                            </div>
                            <div class="col-lg-6">
                                <div class="pl-25">
                                    <h2 class="mb-30">Acerca de Trámites.gt</h2>
                                    <p class="mb-25">Trámites.gt es una plataforma digital que centraliza la información de todos los trámites nacionales y municipales en Guatemala. Nuestro objetivo es facilitar el acceso a servicios públicos, proporcionando guías detalladas, tiempos estimados, procedimientos y requisitos para cada trámite. Con Trámites.gt, cualquier ciudadano puede realizar sus gestiones de manera rápida y eficiente, reduciendo el uso de papel y las largas filas en las instituciones públicas.</p>

                                    <h2 class="mb-30">Descarga el código de la plataforma de trámites</h2>
                                    <p class="mb-25">Descarga el código y repositorio de Trámites.gt.</p>
                                    <a href="https://github.com/RedCiudadana/Catalogo_de_Tramites_Entrega_GAE/archive/refs/heads/main.zip" class="btn">Descarga</a>
                                </div>
                            </div>
                        </section>
                        
                    </div>
                </div>
            </div>
        </div>

        <!--Municipalidades-->
        <section class="featured section-padding-60 px-4" style="background-color:#e3ebf5">
            <div class="container col-xl-10 m-auto">
                <div class="d-flex">
                    <h4>Municipalidades</h4>
                    <a class="btn btn-xs ml-40"  href="/categorias/index.html">Ver Más<i class="fi-rs-arrow-small-right"></i><a/>
                </div>
                <div class="row mb-20 mt-40">

                    <div class="col-lg-4 col-sm-12">
                        <div class="cuadros-municipales">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-20.png">
                            <h6>Nombre de la municipalidad</h6>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="cuadros-municipales">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-20.png">
                            <h6>Nombre de la municipalidad</h6>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="cuadros-municipales">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-20.png">
                            <h6>Nombre de la municipalidad</h6>
                        </div>
                    </div>

                </div>
                
            </div>
        </section>
{% endblock %}